<div class="row">
    <div class="col-md-12">

        <ngx-spinner name="reposTableSpinner" [fullScreen]="false" type="ball-spin-fade" size="small" [zIndex]="101"
            bdColor="rgba(255, 255, 255, 0.78)" color="#e43f34">
            <p style="color: #e43f34">Loading</p>
        </ngx-spinner>

        <div class="card">
            <div class="card-body">
                <div class="" [hidden]="(dataSource!=null && dataSource.data?.length==0)">
                    <mat-table class="table table-hover " #reposTable [dataSource]="dataSource">

                        <!--  Title Column -->
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span>{{element.name}}</span>
                                <button *ngIf="element.is_favorite"
                                    class="ml-2 btn btn-sm btn-success btn-round btn-icon">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <!-- Author Column -->
                        <ng-container matColumnDef="author">
                            <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span>{{element.owner.login}}</span>
                            </mat-cell>
                        </ng-container>

                         <!-- Stars Column -->
                         <ng-container matColumnDef="stars">
                            <mat-header-cell *matHeaderCellDef>Star Count</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span>{{element.stargazers_count}}</span>
                            </mat-cell>
                        </ng-container>

                        <!--Actions Column-->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell [hidden]="true" *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element; let index = index;"
                                class="overlay-effect h-100 w-100 justify-content-end">

                                <div>
                                    <div>
                                        <!--START products list menu-->
                                        <div>
                                            <ul class="navbar-nav flex-row">
                                                <li class="">
                                                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"
                                                        title="Add to Favorites"
                                                        (click)="toggleFavorite($event, element)">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--END products list menu-->
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns; let index = index;" matRipple
                            class="element-row" (click)="showRepoDetailsInDialog(row)">
                        </mat-row>
                    </mat-table>
                </div>
                <mat-paginator #reposTablePaginator [length]="totalCount" [pageSizeOptions]="[10, 20, 50, 100]"
                    showFirstLastButtons>
                </mat-paginator>
                <div *ngIf="!loading">
                    <h3 *ngIf="dataSource==null || (dataSource!=null && dataSource.data?.length==0)">
                       {{loading ? 'Loading ...' : 'No repositories found'}}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>